[submodule "third_party/hev-socks5-tunnel"]
	path = third_party/hev-socks5-tunnel
	url = git@github.com:heiher/hev-socks5-tunnel.git
[submodule "third_party/libv2raymobile"]
	path = third_party/libv2raymobile
	url = https://github.com/sagerenn/libv2raymobile
[submodule "third_party/v2ray-core"]
	path = third_party/v2ray-core
	url = https://github.com/v2fly/v2ray-core
